{% macro delete_button(url, item_type="item", name="") %}
<button class="button delete-button success-button caution"
        role="button"
        aria-roledescription="Deletes the {{ item_type }} {{ name }}"
        hx-delete="{{ url }}">Delete
</button>
{% endmacro %}

{% macro edit_button(url, item_type="item", name="") %}
<a class="button edit-button success-button neutral"
   aria-roledescription="Edits the {{ item_type }} {{ name }}"
   href="{{ url }}">Edit
</a>
{% endmacro %}

{% macro approve_button(url, vals=None, item_type="item", name="") %}
<a class="button unapprove-button success-button neutral"
   role="button"
   aria-roledescription="Approves the {{ item_type }} {{ name | e }}"
   hx-post="{{ url }}"
   {% if vals %}
   hx-vals='{{ json.dumps(vals) }}'
   hx-ext='json-enc'
   {% endif %}
>Approve
</a>
{% endmacro %}

{% macro unapprove_button(url, item_type="item", name="") %}
<a class="button unapprove-button success-button warning"
   role="button"
   aria-roledescription="Unapproves the {{ item_type }} {{ name }}"
   hx-post="{{ url }}">Unapprove
</a>
{% endmacro %}

{% macro report_button(target_type, target) %}
<a class="button report-button caution"
   role="button"
   aria-roledescription="Report the {{ target_type }} {{ target }}"
   hx-get="/partials/report?target_type={{ target_type }}&target={{ target }}"
>Report
</a>
{% endmacro %}