{% macro delete_button(url, item_type="item", name="") %}
<button class="button delete-button success-button caution"
        role="button"
        aria-roledescription="Deletes the {{ item_type }} {{ name }}"
        hx-delete="{{ url }}">Delete
</button>
{% endmacro %}

{% macro edit_button(url, item_type="item", name="") %}
<a class="button edit-button success-button neutral"
   aria-roledescription="Edits the {{ item_type }} {{ name }}"
   href="{{ url }}">Edit
</a>
{% endmacro %}

{% macro unapprove_button(url, item_type="item", name="") %}
<a class="button unapprove-button success-button caution"
   role="button"
   aria-roledescription="Unapproves the {{ item_type }} {{ name }}"
   hx-post="{{ url }}">Unapprove
</a>
{% endmacro %}