{% macro log_entry(entry, config=None) %}
<tr class="table-row audit-log-table-row">
    <td class="actor account-username item-link">
        <a href="/accounts/{{ entry.actor.username }}">
            {{ entry.actor.username }}
        </a>
    </td>
    <td class="action">
      {{entry.action}}
    </td>
    <td class="value">
      {{entry.value}}
    </td>
    {% if entry.target_account %}
      <td class="target account-username item-link">
        <a href="/accounts/{{ entry.target_account.username }}">
          {{ entry.target_account.username }}
        </a>
      </td>
    {% elif entry.target_dataset %}
      <td class="target dataset-slug item-link">
        <a href="/datasets/{{ entry.target_dataset.slug }}">
          {{ entry.target_dataset.slug }}
        </a>
      </td>
    {% elif entry.target_dataset_part %}
      <td class="target dataset-part-slug item-link">
        <a href="/datasets/{{ entry.target_dataset_part.dataset.slug }}">
          {{ entry.target_dataset_part.dataset.slug }}
        </a>
        /
        <a href="/datasets/{{ entry.target_dataset_part.dataset.slug }}/{{ entry.target_dataset_part.part_slug }}">
          {{ entry.target_dataset_part.part_slug }}
        </a>
      </td>
    {% elif entry.target_upload %}
      <td class="target short-hash item-link">
        <a href="/uploads/{{ entry.target_upload.infohash }}">
          {{ entry.target_upload.short_hash }}
        </a>
      </td>
    {% elif entry.target_webseed %}
      <td class="target webseed-url item-link">
        <a href="/uploads/{{ entry.target_webseed.torrent.infohash }}">
          {{ entry.target_webseed.url }}
        </a>
      </td>
    {% endif %}
    <td class="timestamp">
      <time datetime="{{ entry.created_at.strftime('%y-%m-%d %H:%M') }}Z">
        {{ entry.created_at.strftime("%y-%m-%d %H:%M") }}
      </time>
    </td>
</tr>
{% endmacro %}