{% macro instance_updates(updates) %}
{% if updates %}
<div class="status-strip">
    <div class="window">
        <div class="title-bar">
            <h2 class="title-bar-text">{{ updates.header }}</h2>
            <div class="title-bar-controls">
                <button class="index-cancel-button" aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <p class="status-text">{{ updates.title }}</p>
            <p>{{ updates.description | safe }}</p>
            <section class="field-row">
                <a href="/login"><button>OK</button></a>
              <button class="index-cancel-button">Cancel</button>
            </section>
        </div>
        <div class="status-bar">
            <p class="status-bar-field">{{ updates.subtext_l }}</p>
            <p class="status-bar-field">{{ updates.subtext_r }}</p>
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}