{% macro page_header(request, id, columns, swap_target, header_style="span") %}
{% if header_style == "table" %}
{% set row_elt = "tr" %}
{% set cell_elt = "th" %}
{% else %}
{% set row_elt = "div" %}
{% set cell_elt = "span" %}
{% endif %}
<{{ row_elt }} id="{{ id }}" class="table-head">
  {% for column in columns %}
    {% if not column.name %}
  <{{ cell_elt }} class="spacer"></{{ cell_elt }}>
    {% else %}
      {% if header_style == "table" %}
  <{{ cell_elt }} colspan="1" scope="col">
      {% endif %}
    {{ sort_link(request, column, swap_target=swap_target) }}
      {% if header_style == "table" %}
  </{{ cell_elt }}>
      {% endif %}
    {% endif %}
  {% endfor %}
</{{ row_elt }}>
{% endmacro %}

{% macro sort_link(request, column, swap_target) %}
{% set params = request.state.search_params %}
{% if params.sorted_by(column.name) == "descending" %}
  {% set icon="/static/img/icon/sort-down.svg" %}
  {% set sort_str="*" + column.name %}
  {% set href=request.url.include_query_params(sort=sort_str) %}
  {% set alt="Descending sort" %}
  {% set classes="active descending" %}
{% elif params.sorted_by(column.name) == "ascending" %}
  {% set icon="/static/img/icon/sort-up.svg" %}
  {% set sort_str="-" + column.name %}
  {% set href=request.url.include_query_params(sort=sort_str) %}
  {% set alt="Ascending sort" %}
  {% set classes="active ascending" %}
{% else %}
  {% set icon="/static/img/icon/sort.svg" %}
  {% set href=request.url.include_query_params(sort=column.name) %}
  {% set alt="No sort" %}
  {% set classes="" %}
{% endif %}
<button
  hx-get="{{href}}"
  hx-target={{swap_target}}
  hx-swap="outerHTML"
  class="table-link sort-link {{ classes }}"
  data-col="{{ column.name }}"
  {% if column.tooltip %}
  title="{{ column.tooltip }}"
  {% else %}
  title="Sort by {{ column.name }}"
  {% endif %}
>

  <span class="col-{{ column.name }} column-header sortable">
    {{ column.title | safe }}
  </span>
  <img class="sort-icon" src="{{ icon }}" alt="{{ alt }}" title="{{ alt }}"/>
</button>
{% endmacro %}