{% macro upload_row(upload, current_account, config, header_start=1) %}
<div class="upload" id="upload-{{ upload.infohash }}">
    <div class="upload-topmatter topmatter">
        <div class="upload-header header">
            <h{{ header_start }} class="title upload-title font-mono">{{ upload.short_hash }} </h{{ header_start }}>
            <span class="dataset-slug">
                <a href="/datasets/{{upload.dataset.slug}}">
                    {{ upload.dataset.slug }}
                </a>
            </span>
            {% if upload.dataset_parts %}
            <h{{ header_start + 1}} class="dataset-parts">For Dataset Parts</h{{ header_start + 1}}>
            <ul>
                {% for part in upload.dataset_parts %}
                <li>
                   <a href="/datasets/{{upload.dataset.slug}}">{{upload.dataset.slug}}</a>
                    /
                   <a href="/datasets/{{upload.dataset.slug}}/{{part.part_slug}}">{{part.part_slug}}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <h{{ header_start + 1}} class="description">Description</h{{ header_start + 1}}>
            <p>{{ upload.description }}</p>
            <h{{ header_start + 1}} class="method">Method</h{{ header_start + 1}}>
            <p>{{ upload.method }}</p>

        </div>
        <div class="upload-infobox infobox">
            <p class="infobox-header">
                <a class="download-link font-mono" href="{{ upload.download_path }}">⬇️ download ⬇️</a>
            </p>
            <table class="infobox-table">
                <tr>
                    <td colspan="2" class="infobox-subhead">{{ upload.torrent.file_name }}</td>
                </tr>
                <tr>
                    <td class="infobox-key">Size</td>
                    <td class="infobox-value">{{ upload.human_size }}</td>
                </tr>
                <tr>
                    <td class="infobox-key">Torrent Size</td>
                    <td class="infobox-value">{{ upload.human_torrent_size }}</td>
                </tr>
                <tr>
                    <td class="infobox-key">Files</td>
                    <td class="infobox-value">{{ upload.torrent.files | length }}</td>
                </tr>
                <tr>
                    <td class="infobox-key">Piece size</td>
                    <td class="infobox-value">{{ upload.torrent.human_piece_size }}</td>
                </tr>
                <tr>
                    <td class="infobox-key">Created</td>
                    <td class="infobox-value">
                        <time datetime="{{ upload.created_at.strftime('%y-%m-%d %H:%M') }}Z">
                        {{ upload.created_at.strftime("%y-%m-%d %H:%M") }} UTC
                        </time>
                    </td>
                </tr>
                <tr>
                    <td class="infobox-key">Updated</td>
                    <td class="infobox-value">
                        <time datetime="{{ upload.updated_at.strftime('%y-%m-%d %H:%M') }}Z">
                        {{ upload.updated_at.strftime("%y-%m-%d %H:%M") }} UTC
                        </time>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <h{{ header_start + 1}}>
       Files
    </h{{ header_start + 1}}>
    <div class="file-table">
        {% for file in upload.torrent.files %}
        <span class="file-name">{{ file.path }}</span>
        <span class="file-size">{{ file.human_size }}</span>
        {% endfor %}
    </div>
    <h{{ header_start + 1}}>
        Trackers
    </h{{ header_start + 1}}>
    <div class="tracker-list">
        {% for tracker in upload.torrent.trackers %}
        <code>{{ tracker.url }}</code>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro upload_collapsible(upload, review=False, config = None) %}
<details class="collapsible upload-collapsible" id="upload-collapsible-{{ upload.upload_id }}">
    <summary class="collapsible-summary"
             hx-get="/uploads/{{ upload.infohash }}/partial"
             hx-trigger="click once"
             hx-target="#upload-{{ upload.infohash }}">

        <span class="collapsible-marker"></span>
        <span class="upload-hash item-link">
            <a href="/uploads/{{ upload.infohash }}">
                {{ upload.short_hash }}
            </a>
        </span>
        <span class="upload-title title">{{ upload.file_name }}</span>
        <span class="upload-size size">{{ upload.human_size }}</span>
        <time class="upload-timestamp timestamp" datetime="{{ upload.created_at.strftime('%y-%m-%d %H:%M') }}Z">
            {{ upload.created_at.strftime("%y-%m-%d %H:%M") }}
        </time>
        {% if review %}
        <button class="button approve-button success-button"
                role="button"
                aria-roledescription="Approves the item indicted by aria-controls, removing it from the list and making it available for download"
                aria-controls="upload-collapsible-{{ upload.upload_id }}"
                hx-post="{{ config.api_prefix }}/uploads/{{ upload.infohash }}/approve">Approve
        </button>
        <button class="button deny-button success-button caution"
                role="button"
                aria-roledescription="Denies the item indicted by aria-controls, removing it from the list and deleting it"
                aria-controls="upload-collapsible-{{ upload.upload_id }}"
                hx-post="{{ config.api_prefix }}/uploads/{{ upload.infohash }}/deny">Deny
        </button>
        {% else %}
        <a class="icon-link download-link" href="{{ upload.download_path }}" aria-label="Download" title="Download">⬇️
        </a>
        {% endif %}
    </summary>
    <div class="upload" id="upload-{{ upload.infohash }}"></div>
</details>
{% endmacro %}