{% from "macros/model-form.html" import inner_model_form %}
{% from "macros/model-table.html" import model_table %}
<p class="label">Torrent details:</p>
{{ model_table(id="torrent-table", model=torrent) }}

<form id='upload-form' class="form">
    {{ inner_model_form(id="upload-form", model=model, exclude=["infohash", "part_slugs"]) }}
    <div class="form-item">
        <label for="upload-form-infohash" class="form-label">Torrent Infohash</label>
        <input id="upload-form-infohash"
               class="form-input"
               type="text"
               name="infohash"
               value="{{ torrent.infohash }}"
               readonly="readonly">
    </div>
    {% if parts %}
    {% for part in parts %}
    <input name="part_slugs" value="{{ part }}" type="hidden" readonly="readonly">
    {% endfor %}
    {% endif %}

</form>
<div class="admonition">
    <strong><p>The <code>.torrent</code> file does not contain any data! Bittorrent works by "seeders" staying online to serve copies of the data (see <a href="/docs/intro/bittorrent/">the docs on how bittorrent works</a>). To make this data available, <strong>please make sure you open this torrent in your <a href="/docs/using/torrenting/#client">client</a> and seed as long as you can - at minimum until one other peer has a complete copy.</strong> Uploads from new accounts are not approved until the first seed is present.</p></strong>
</div>
<button
    id="submit-upload-button"
    class="form-button"
    type="submit"
    name="upload"
    hx-post="{{ config.api_prefix }}/datasets/{{ dataset.slug }}/uploads/form{% if parts %}?{{ parts | join('=on&') }}=on{% endif %}"
    hx-include="#upload-form"
>Submit</button>

