.md-header {
  background-color: var(--md-footer-bg-color);
  border-bottom: 1px solid var(--md-primary-fg-color--dark);
  font-family: var(--font-mono), monospace;

  .md-header__title {
    font-style: italic;
    font-family: var(--font-times);
    font-size: 2em;
    color: var(--md-primary-fg-color);
    & span {
      color: var(--md-title-color);
      text-shadow: 2px 2px var(--md-title-bg-color);
      /*outline: var(--md-default-bg-color) groove 2px;*/
      &:before {
        background: var(--md-primary-fg-color);
        width: 150%;
        border-radius: 0.2em 0.1em;
        box-shadow: 0 0 2px rgba(255,255,255,0.25);
        content: " ";
        width: 150%;
        height: 0.75em;
        left: -25%;
        bottom: 0.65em;
        position: absolute;
        transform: skewY(-10deg) rotate(8deg);
        z-index: -1;
      }

    }
  }
}

div.index-linkbox {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap: 1em 2em;

  a {
    border: 1px solid var(--md-primary-fg-color--dark);
    position:relative;

    &:hover {
      color: var(--md-primary-fg-color--dark);
      border-color: var(--md-code-fg-color);
      .index-link-label {
        width: 100%;
        transition: width 1s;
      }
    }
    .index-link-label {
      width: 0;
      display: inline-block;
      overflow: hidden;
      text-wrap: nowrap;
      position: absolute;
      top: 0;
      font-family: var(--font-times);
      font-size: 4em;
      pointer-events: none;
      color: var(--md-typeset-color);
      font-style: italic;
      text-shadow: 5px 5px var(--md-default-bg-color);
    }
  }
}
pre.index-link {
  line-height: 1em;
  margin: 0;
  transition: font-size 10s ease-in;
  font-family: ui-monospace, monospace;

  &:hover {
    color: var(--md-primary-fg-color--dark);
    font-size: 10em;
    transition: color 1s, font-size 100s;
  }
}

@media screen and (max-width: 500px){
  pre.index-link {
    font-size: 0.8em;
  }
}

.redacted {
    color: var(--color-primary-contrast);
    position: relative;

    &>* {
        color: var(--color-primary-contrast);
    }

    &:before {
        background: var(--color-primary);
        border-radius: 0.2em 0.1em;
        box-shadow: 0 0 2px rgba(255,255,255,0.25);
        content: " ";
        width: 150%;
        height: 0.8em;
        left: -25%;
        bottom: 0.1em;
        position: absolute;
        transform: skewY(-10deg) rotate(8deg);
        z-index: -1;
    }
}

.font-mono {
  font-family: var(--font-mono);
}

.big-emphasis {
  padding: 2em;
  border: 2px double var(--md-primary-fg-color);
  font-family: var(--font-mono);
  font-weight: bold;
}

.caution {
  color: var(--color-caution);
}

.good {
  color: var(--color-good);
}

.quickstart-container {
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  border: 1px solid var(--md-primary-fg-color);
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;

  a {
    position: relative;
    text-shadow: 3px 3px var(--md-default-bg-color);
    text-decoration: underline;
    width: 100%;
    text-align: center;
    &:after {
      z-index: -1;
      content: "quickstart";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 100%;
      animation: rotate-hue 2s infinite;
    }
    &:hover {
      background: linear-gradient(to right, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%)
   0 0/200% 100%;
      /*color: var(--md-default-bg-color);*/
      animation: rainbow 2s infinite;
    }
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .quickstart-container a:after,
  .quickstart-container a:hover {
    animation: none;
  }
}

@keyframes rainbow {
  to { background-position: -200% 0 }
}


@keyframes rotate-hue {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

.mermaid {
  text-align: center;
}