.md-header {
  background-color: var(--md-footer-bg-color);
  border-bottom: 1px solid var(--md-primary-fg-color--dark);
  font-family: var(--font-mono), monospace;

  .md-header__title {
    font-style: italic;
    font-family: var(--font-times);
    font-size: 2em;
    color: var(--md-primary-fg-color);
    & span {
      color: var(--md-title-color);
      text-shadow: 2px 2px var(--md-title-bg-color);
      /*outline: var(--md-default-bg-color) groove 2px;*/
      &:before {
        background: var(--md-primary-fg-color);
        width: 150%;
        border-radius: 0.2em 0.1em;
        box-shadow: 0 0 2px rgba(255,255,255,0.25);
        content: " ";
        width: 150%;
        height: 0.75em;
        left: -25%;
        bottom: 0.65em;
        position: absolute;
        transform: skewY(-10deg) rotate(8deg);
        z-index: -1;
      }

    }
  }
}

div.index-linkbox {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap: 1em 2em;

  a {
    border: 1px solid var(--md-primary-fg-color--dark);
    position:relative;

    &:hover {
      color: var(--md-primary-fg-color--dark);
      border-color: var(--md-code-fg-color);
      .index-link-label {
        width: 100%;
        transition: width 1s;
      }
    }
    .index-link-label {
      width: 0;
      display: inline-block;
      overflow: hidden;
      text-wrap: nowrap;
      position: absolute;
      top: 0;
      font-family: var(--font-times);
      font-size: 4em;
      pointer-events: none;
      color: var(--md-typeset-color);
      font-style: italic;
      text-shadow: 5px 5px var(--md-default-bg-color);
    }
  }
}
pre.index-link {
  line-height: 1em;
  margin: 0;
  transition: font-size 10s ease-in;
  font-family: ui-monospace, monospace;

  &:hover {
    color: var(--md-primary-fg-color--dark);
    font-size: 10em;
    transition: color 1s, font-size 100s;
  }
}

@media screen and (max-width: 500px){
  pre.index-link {
    font-size: 0.8em;
  }
}

.redacted {
    color: var(--color-primary-contrast);
    position: relative;

    &>* {
        color: var(--color-primary-contrast);
    }

    &:before {
        background: var(--color-primary);
        border-radius: 0.2em 0.1em;
        box-shadow: 0 0 2px rgba(255,255,255,0.25);
        content: " ";
        width: 150%;
        height: 0.8em;
        left: -25%;
        bottom: 0.1em;
        position: absolute;
        transform: skewY(-10deg) rotate(8deg);
        z-index: -1;
    }
}

.font-mono {
  font-family: var(--font-mono);
}

.big-emphasis {
  padding: 2em;
  border: 2px double var(--md-primary-fg-color);
  font-family: var(--font-mono);
  font-weight: bold;
}

/* Override nav breakpoint for narrower windows*/
@media screen and (min-width: 50em) {
  .md-sidebar {
    height: 0;
  }
  .md-header__button[for="__drawer"] {
    display: none;
  }
  .md-header__button.md-logo {
    display: inline-block;
  }
  [dir="ltr"] .md-nav--primary .md-nav__list {
    padding-left: .6rem;
  }
  .md-nav--primary .md-nav__list {
    padding-bottom: .4rem;
  }
  /*[dir="ltr"] .md-sidebar--primary {*/
  /*  left: 0;*/
  /*}*/
  .md-sidebar--primary {
    background-color: unset;
    display: flex;
    height: 100%;
    position: sticky;
    top: 2.4rem;
    transform: unset;
    transition: transform .25s cubic-bezier(.4,0,.2,1),box-shadow .25s;
    width: 12.1rem;
    z-index: 5;
  }

  .md-sidebar--primary .md-sidebar__scrollwrap {
    bottom: inherit;
    left: inherit;
    margin: inherit;
    /*overflow: hidden;*/
    position: sticky;
    right: inherit;
    scroll-snap-type: none;
    top: 0;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 0 .2rem;
    overflow-y: auto;
    scrollbar-color: var(--md-default-fg-color--lighter) #0000;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }
  .md-tabs {
    display: block;
  }

   .md-nav {
    margin-bottom: -.4rem;
    transition: max-height .25s cubic-bezier(.86,0,.07,1);
     font-size: .7rem;
  line-height: 1.3;
  }

  [dir="ltr"] .md-sidebar--primary {
    left: unset;
    top: 49px;
  }
  .md-nav--lifted > .md-nav__list > .md-nav__item, .md-nav--lifted > .md-nav__title {
    display: none;
  }
   .md-nav--lifted > .md-nav__list > .md-nav__item--active {
    display: block;
  }

   .md-nav--primary, .md-nav--primary .md-nav {
    background-color: unset;
    display: inherit;
    flex-direction: inherit;
    height: inherit;
    left: inherit;
    position: inherit;
    right: inherit;
    top: inherit;
    z-index: inherit;
  }

   /*nav items*/
  .md-nav--integrated .md-nav__link[for="__toc"] {
    display: none;
  }
   .md-nav--integrated .md-nav__link[for="__toc"] + .md-nav__link {
    display: flex;
  }
   .md-nav--primary .md-nav__link {
    margin-top: .625em;
    padding: unset;
  }


  .md-nav__toggle ~ .md-nav {
    visibility: collapse;
  }
        .md-nav__item--section > .md-nav {
    visibility: visible;
  }
              .md-nav__toggle.md-toggle--indeterminate ~ .md-nav, .md-nav__toggle:checked ~ .md-nav {
    visibility: visible;
  }


            .md-nav--lifted .md-nav[data-md-level="1"] {
    visibility: visible;
  }

              .md-nav__item--section > .md-nav__link .md-icon, .md-nav__item--section > .md-nav__link > [for] {
    display: none;
  }

  .md-nav--integrated > .md-nav__list > .md-nav__item--active .md-nav--secondary {
    display: block;
    margin-bottom: 1.25em;
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 50em) {
  [dir="ltr"] .md-sidebar--primary {
    left: -12.1rem;
  }
  .md-header__button.md-logo {
    display: none;
  }
  .md-sidebar--primary .md-sidebar__scrollwrap {
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: unset;
    scroll-snap-type: none;
    top: 0;
  }
  .md-nav--lifted > .md-nav__list > .md-nav__item, .md-nav--lifted > .md-nav__title {
    display: none;
  }
  /*[dir="ltr"] .md-sidebar--primary {*/
  /*  left: -12.1rem;*/
  /*}*/
}