<div id="error-modal-container" class="modal-container"></div>
<footer>
  <div class="footer-body">
    <ul class="footer-links">
      <li>
        <a href="https://codeberg.org/Safeguarding/sciop">source</a>
      </li>
      <li>
        <a href="https://codeberg.org/Safeguarding/sciop/issues">issues</a>
      </li>
      <li>
        <a href="https://forum.safeguar.de/">forum</a>
      </li>
    </ul>
    <div class="footer-id">
      {{ config.instance.footer_html | safe }}
      {% if config.instance.contact_email %}
      <p>
        Contact: <code>{{ config.instance.contact_email_obfuscated }}</code>
      </p>
      {% endif %}
    </div>
  </div>
</footer>