<nav class="navbar">
    <h2 class="site-title redacted"><a href="/">SciOp</a></h2>
    <a href="/datasets" class="nav-link">Datasets</a>
    <a href="/feeds" class="nav-link">Feeds</a>
    <a href="/docs" class="nav-link">Docs</a>

    <div class="spacer"></div>
    <span id="option-darkmode" class="toggle-switch">
        <label class="toggle-container">
            <label class="aria" for="option-darkmode-input">Toggle Light/Dark Mode</label>
            <input id="option-darkmode-input" type="checkbox">
            <span id="option-darkmode-slider" class="slider preload"></span>
        </label>
    </span>
    <a class="nav-button outline" href="/request">Request/Add Dataset</a>
    {% if current_account %}
    <a href="/self" class="nav-button">{{ current_account.username }}</a>
    {% else %}
    <a href="/login" class="nav-button">Login</a>
    {% endif %}
</nav>