body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-sans);
    transition: background-color 300ms;
}

a {
    color: var(--color-link);
    text-decoration: unset;
}

a:hover {
    text-decoration: underline;
}

.preload {
  transition: none !important;
}

ul {
    padding-inline-start: 1em;
}

.hidden {
  display: none;
}

pre {
  background-color: var(--color-background-shade);
  font-size: 0.8em;
  padding: 1em;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  border: 1px solid var(--color-border-deemphasized);
  border-radius: 3px;
}