/* As in specific page elements like buttons, etc. */

input,
textarea,
select {
  background-color: var(--color-background-shade);
  padding: 1em;
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  box-sizing: border-box;
}

button,
.button {
  border: 1px solid var(--color-primary);
  background-color: rgba(0,0,0,0);
  color: var(--color-primary-shade-1);
  border-radius: 4px 2px;
  box-shadow: 2px 2px 0 var(--color-primary-darker-1);
  transition: all .2s;
  padding: 0.1em 0.5em;


  &:hover {
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
  }

  &.caution {
    border-color: var(--color-caution);
    color: var(--color-caution);
    box-shadow: 2px 2px 0 var(--color-caution-darker-1);

    &:hover {
      background-color: var(--color-caution);
      color: var(--color-caution-contrast);
    }
  }

  &.toggle-button {
    &:not(.checked) {
      border-color: var(--color-border-deemphasized);
      color: var(--color-deemphasized);
      box-shadow: unset;

      &:hover {
        background-color: var(--color-background);
        border-color: var(--color-primary);
      }
    }
    &.checked {
      &:disabled {
        border-color: var(--color-primary);
        box-shadow: 2px 2px 0 var(--color-primary-darker-1);
      }
    }

  }

  &:disabled {
    background: repeating-linear-gradient(
      -45deg,
      var(--color-background),
      var(--color-background) 5px,
      var(--color-disabled) 5px,
      var(--color-disabled) 7px
    );
    box-shadow: unset;
    border-color: var(--color-border-deemphasized);
    color: var(--color-deemphasized);

    &:hover {
      border-color: var(--color-border-deemphasized);
    }
  }
}

.search-container {
  max-height: 2.5em;
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;

  input {
    flex-grow: 1;
  }

}

.pagination-links {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  width: 100%;
  align-items: center;
  font-family: var(--font-mono);

  button {
    font-size: 1.1em;
    border: unset;
    color: var(--color-primary-shade-1);
    background-color: unset;
    box-shadow: unset;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid var(--color-primary);
    }

    &.current {
      background-color: var(--color-primary);
      color: var(--color-primary-contrast);
    }

  }

  span {
    color: var(--color-text-deemphasized);
    font-size: 1em;
  }

  .pagination-total {
    margin-left: auto;
  }
}

.loading-indicator {
  max-height: 30px;
  margin-left: auto;

  img {
    object-fit: contain;
    height: 100%;
    max-height: 30px;
  }
}

.collapsible {
  padding: 0.25em 0.5em;
  border: 1px solid var(--color-border-deemphasized);
  border-bottom: none;
  cursor: pointer;
  summary {
    align-items: center;
  }
  &:last-child {
	  border-bottom: 1px solid var(--color-border-deemphasized);
  }
}

.collapsible:not([open])  {
  & > summary .collapsible-marker::before {
    content: "+";
  }

  &:hover {
    border-left: 1px solid var(--color-link);
    .collapsible-marker::before {
      color: var(--color-link);
      transition: color 0.1s;
    }
  }
}

.collapsible[open] {
  padding-bottom: 1em;
  border-left: 1px solid var(--color-link);

  & > summary .collapsible-marker::before {
    content: "-";
    color: var(--color-link);
  }

  summary {
    margin-bottom: 0.5em;
  }
}

/* avoid HTMX needing to inject styles dynamically*/
.htmx-indicator{
  opacity:0;
}
.htmx-request .htmx-indicator{
  opacity:1;
  transition: opacity 200ms ease-in;
}

#error-modal-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*z-index: -99;*/
  background-color: rgba(0, 0, 0, 0.5);

  &:has(.error-modal) {
    display: flex;
    align-items: center;
    align-content: center;
  }

  .error-modal {
    background-color: var(--color-background);
    margin: auto;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.9);
    border-radius: 5px;

    .modal-header {
      background-color: var(--color-background-shade);
      font-size: 2em;
      display: flex;
      justify-content: space-between;
      padding: 0.2em 0.5em;
    }
    .modal-body {
      padding: 1em;
    }
  }
}

