/* As in specific page elements like buttons, etc. */

input,
textarea,
select {
  background-color: var(--color-background-shade);
  padding: 1em;
  color: var(--color-text);
  border: 1px solid var(--color-primary) !important;
  border-radius: 5px;
  box-sizing: border-box;
}

.collapsible-summary input {
  margin: 0;
}

button,
.button {
  font-family: var(--font-sans);
  font-size: 1em;
  border: 1px solid var(--color-primary);
  background-color: var(--color-background);
  color: var(--color-primary-shade-1);
  border-radius: 4px 2px;
  box-shadow: 2px 2px 0 var(--color-primary-darker-1);
  transition: all .2s;
  padding: 0.1em 0.5em;
  cursor: pointer;
  text-wrap: nowrap;

  &.form-button {
    margin-top: 0.5em;
    padding: 0.25em 2em;
    font-size: 1.25em;
  }

  &:hover:not(:disabled) {
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
  }

  &.deemphasized {
    border-color: var(--color-border-deemphasized);
    color: var(--color-text-deemphasized);
    box-shadow: 2px 2px 0 var(--color-background-deemphasized);

    &:hover:not(:disabled) {
      background-color: var(--color-text-deemphasized);
      color: var(--color-background-deemphasized);
    }
  }

  &.caution {
    border-color: var(--color-caution);
    color: var(--color-caution);
    box-shadow: 2px 2px 0 var(--color-caution-darker-1);

    &:hover:not(:disabled) {
      background-color: var(--color-caution);
      color: var(--color-caution-contrast);
    }
  }

  &.warning {
    border-color: var(--color-warning);
    color: var(--color-warning);
    box-shadow: 2px 2px 0 var(--color-warning-darker-1);

    &:hover:not(:disabled) {
      background-color: var(--color-warning);
      color: var(--color-warning-contrast);
    }
  }


  &.neutral {
    border-color: var(--color-neutral);
    color: var(--color-neutral);
    box-shadow: 2px 2px 0 var(--color-neutral-darker-1);

    &:hover:not(:disabled){
      background-color: var(--color-neutral);
      color: var(--color-neutral-contrast);
    }
  }

  &.toggle-button {
    &:not(.checked) {
      border-color: var(--color-border-deemphasized);
      color: var(--color-deemphasized);
      box-shadow: unset;

      &:hover {
        background-color: var(--color-background);
        border-color: var(--color-primary);
      }

      &:disabled, &.disabled {
        &:hover {
          border-color: var(--color-border-deemphasized);
        }
      }
    }
    &.checked {
      &:disabled, &.disabled {
        border-color: var(--color-primary);
        box-shadow: 2px 2px 0 var(--color-primary-darker-1);
      }
    }

  }

  &.angled-button {
    transform: rotate(-45deg);
    transform-origin: top left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /* Buttons at the end of some table that add another row */
  &.add-button {
    margin-top: 0.5em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
  }

  &:disabled, &.disabled {
    background: repeating-linear-gradient(
      -45deg,
      var(--color-background),
      var(--color-background) 5px,
      var(--color-disabled) 5px,
      var(--color-disabled) 7px
    );
    box-shadow: unset;
    border-color: var(--color-border-deemphasized);
    color: var(--color-deemphasized);
  }
  
  &.disabled {
    pointer-events: none;
  }

  &.table-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 0.2em;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-family: var(--font-mono);
    font-size: 1.1em;
    box-shadow: unset;
    padding: 0.2em 0.25em 0.2em 0.4em;

    img {
      max-height: 1.2em;
    }

    &.active {
      background-color: var(--color-primary);
      color: var(--color-primary-contrast);
    }

    &[data-col="threat"] span {
      font-size: 0.9em;
    }
  }

  &.remove-button {
    padding: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.big {
    padding: 1em 2em;
  }
}

a.button:hover {
  text-decoration: none;
}


.search-container {
  max-height: 2.5em;
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;

  input {
    flex-grow: 1;
  }

}

.pagination-container {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;

  .pagination-total {
    margin-left: auto;
  }
}

.pagination-links {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  font-family: var(--font-mono);

  button {
	  padding: 0 6px;
    font-size: 1.1em;
	  line-height: 32px;
	  min-width: 32px;
    border: unset;
    color: var(--color-primary-shade-1);
    background-color: unset;
    box-shadow: unset;
    border: 1px solid transparent;
	  cursor: pointer;

    &:hover:not(:disabled) {
      border: 1px solid var(--color-primary);
    }

    &:disabled {
      cursor: unset;
    }

    &.current {
      background-color: var(--color-primary);
      color: var(--color-primary-contrast);
    }
  }

  span {
    color: var(--color-text-deemphasized);
    font-size: 1em;
  }
}

.loading-indicator {
  max-height: 30px;
  margin-left: auto;

  img {
    object-fit: contain;
    height: 100%;
    max-height: 30px;
  }
}

.account-row {
  border: 1px solid var(--color-border-deemphasized);
  border-bottom: none;
  align-items: center;
  padding: 0.25em 0.5em;

  &:last-of-type {
	  border-bottom: 1px solid var(--color-border-deemphasized);
	  border-radius: 0 0 5px 5px;
  }

  &:first-of-type {
	  border-radius: 5px 5px 0 0;
  }

  &:only-of-type {
	  border-radius: 5px 5px 5px 5px;
  }

  &:hover {
    border-left: 1px solid var(--color-link);
  }

  & a {
    width: fit-content;
    display: inline-block
  }
}

.collapsible {
  /*padding: 0.25em 0.5em;*/
  border: 1px solid var(--color-border-deemphasized);
  border-bottom: none;
  cursor: pointer;
  summary {
    align-items: center;
    padding: 0.25em 0.5em;
  }
  summary + * { /* sorry ... */
	  padding: 0.25em 0.5em;
  }
  div {
    cursor: unset;
  }
  &:last-of-type {
	  border-bottom: 1px solid var(--color-border-deemphasized);
  }
}

.unapproved > summary,
.disabled > summary,
.inactive > summary,
.unapproved-row {
    background: repeating-linear-gradient(
      -45deg,
      var(--color-background),
      var(--color-background) 5px,
      var(--color-disabled) 5px,
      var(--color-disabled) 7px
    );
    span {
      text-shadow: 1px 1px 0 var(--color-background),
        -1px -1px 0 var(--color-background),
        -1px 1px 0 var(--color-background),
        1px -1px 0 var(--color-background)
        2px 2px 2px var(--color-background),
        -2px -2px 2px var(--color-background),
        -2px 2px 2px var(--color-background),
        2px -2px 2px var(--color-background);
    }
  }

.collapsible:not([open])  {
  & > summary .collapsible-marker::before {
    content: "+";
  }

  &:hover {
    border-left: 1px solid var(--color-link);
    .collapsible-marker::before {
      color: var(--color-link);
      transition: color 0.1s;
    }
  }
}

.collapsible[open] {
  padding-bottom: 1em;
  border-left: 1px solid var(--color-link);

  & > summary {
    margin-bottom: 0.5em;
	  background: var(--color-background-deemphasized);

    .collapsible-marker::before {
      content: "-";
      color: var(--color-link);
    }
  }
}

.collapsible[open].unapproved {
  & > summary {
    background: repeating-linear-gradient(
        -45deg,
        var(--color-background),
        var(--color-background) 5px,
        var(--color-disabled) 5px,
        var(--color-disabled) 7px
    );
  }
}

/* avoid HTMX needing to inject styles dynamically*/
.htmx-indicator{
  opacity:0;
}
.htmx-request .htmx-indicator, .htmx-request.htmx-indicator{
  opacity:1;
  transition: opacity 200ms ease-in;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;

  &.visible,
  &:has(.modal:not(.static))
  {
    display: flex;
    align-items: center;
    align-content: center;
  }

  .modal {
    background-color: var(--color-background);
    margin: auto;
    width: 80%;
    max-width: var(--width-container);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.9);
    border-radius: 5px;

    .modal-header {
      background-color: var(--color-background-shade);
      font-size: 2em;
      display: flex;
      justify-content: space-between;
      padding: 0.2em 0.5em;
    }

    .modal-body {
      padding: 1em;
    }
  }
}

.surface {
  padding: var(--surface-padding);
  border-radius: var(--surface-border-radius);
  background-color: var(--color-background-shade);
  border: 1px solid var(--color-border-deemphasized);

}

.index-feeds {
  details {
    padding: 0.5em 0.25em;
    border: 1px solid var(--color-border-deemphasized);
  }
}

.tag-item {
  display: flex;
  align-items: center;
  .tag-link {
    display: contents;
  }
  .token {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: unset;
    &:hover{ text-decoration: underline; }
  }
  .icon-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid var(--color-primary-shade-3);
  }

  .rss-link {
    box-shadow: 3px 0 1px black;
    z-index: 2
  }
  .rss-icon{
    transition: filter 0.2s;
  }


  .rdf-link{
    z-index: -1;
    transform: translateX(-1.1em);
    margin-right: -1.1em;
    transition: 0.5s;
    transition-delay: 0.25s;
  }
  .rdf-icon{
    transition: 0.5s;
  }

  .rss-link:hover + .rdf-link,
  .rdf-link:hover {
      transform: translateX(0);
      margin-right: 0;
      z-index: 1;
      transition-delay: 0s;
  }
}
body.light-theme {
  .rss-link {
    box-shadow: 1px 0 1px var(--color-dark-background);
    z-index: 2
  }

  .tag-item {
    .rss-icon, .rdf-icon {
      filter: invert(1);

      &:hover {
        filter: invert(0);
      }
    }
  }

  .sort-icon {
    filter: invert(1);
  }
}

.icon-link {
  width: 1.3em;
  height: 1.3em;
  display: inline-block;
  background-color: var(--color-link);
  border: 1px solid var(--color-primary-shade-3);
  border-radius: 3px;

  &.download-link,
  &.magnet-link
  {
    background-color: unset;
    border: unset;
  }
}

.rss-icon, .rdf-icon {
  width: auto;
  height: 1.3em;
  position: relative;
  background-color: unset;
  transition: 0.2s;
  &:hover {
    filter: invert(1);
  }
}

.index-feeds {
  .rss-link {
    margin-right: 0.5em;
    width: 1em;
    height: 1em;
  }
  .rss-icon {
    height: 1em;
  }
  li {
    margin: 0.5em 0;
  }
}

progress {
  height: 2em;
  background-color: var(--color-background);
  border-radius: 5px;
  border-color: var(--color-border);
  -webkit-appearance:none;
}

progress::-webkit-progress-bar,
progress::-moz-progress-bar {
  background: repeating-linear-gradient(
    90deg,
    var(--color-primary) ,
    var(--color-primary) 10px,
    var(--color-background) 10px,
    var(--color-background) 13px
  );
}

.input-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0.5em;

  input {
    flex-grow: 1;
  }
}

.value-label {
  border-radius: 0.25em;
  background-color: var(--color-background-shade);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-family: var(--font-mono);

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1em 0.75em;
  }

  .value {
    border-left: 1px solid var(--color-primary-shade-3);
    border-radius: 0 0.25em 0.25em 0;
    background-color: var(--color-background);
  }
}

.page-type {
  font-style: italic;
  font-family: var(--font-mono);
  position:relative;
  padding: 0.25em 0.5em 0.25em 0;

  &::before {
    content: "";
    position: absolute;
    left: -100vw;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-primary);
    z-index: -1;
    transform: skewX(-15deg);
  }
}

.collapsible-table .page-type {
  display: none;
}

.hit-counter {
  margin-top: auto;
  margin-left: auto;
  right: 1em;
  border: 5px ridge var(--color-border);
  font-family: var(--font-mono);

  .hit-counter-number {
    padding: 2px 3px;
    background: linear-gradient(var(--color-background), var(--color-background-shade), var(--color-background));
    transform: skew(-10deg) scaleY(90%);
    display: inline-block;
    color: var(--color-link);
  }
}

.hidden {
    display: none;
}

.admonition {
  margin: 1em 0em;
  padding: 0.5em 2em;
  border: 2px solid var(--color-warning);
  border-radius: 5px;
}

.report-actions {
  display: flex;
  flex-direction: column;

  .form-input-group {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }

  .report-resolve-buttons {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1em;
    row-gap: 2em;
    margin-top: 2em;
    align-items: center;

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      row-gap: 0;
      & > *:nth-child(2n) {
        margin-top: 0.5em;
        margin-bottom: 2em;
      }
    }

  }
}

