.form {
    display: grid;
    grid-template-columns: minmax(10px, auto) 3fr;
    gap: 1em 1em;

    .form-item {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-template-columns: subgrid;
    }

    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;

        .form-item {
            grid-column-end: 2;
        }
    }

    .form-label {
        display: flex;
        align-items: center;
        font-weight: bold;
        text-wrap: wrap;
    }

    .form-input,
    .form-textarea
    {
        width: 100%;

        &[type="checkbox"] {
            width: unset;
        }

        &:user-invalid,
        &.invalid {
            border: 1px solid var(--color-caution);
        }

    }

    .form-item-description {
        grid-column-start: 2;
        color: var(--color-text-deemphasized);
        margin-top: 0.5em;
    }

    .constraint-gutter {
        font-family: var(--font-mono);
        color: var(--color-text-deemphasized);
        font-size: 0.8em;
        display: flex;
        justify-content: space-between;
        margin-right: 1em;
    }

    .error-feedback {
        color: var(--color-caution);

        &.changed {
            color: var(--color-primary);
        }
    }

    .constraint {
        margin-left: 1em;
    }
    .optional {
        border-color: var(--color-border-deemphasized);
    }
}

.form.login-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;

    input {
        width: 100%;
    }
}
.login-form-container {
    margin: 3em auto;
    width: 50%;
    max-width: 300px;
    display: flex;
    flex-direction: column;

    .login-buttons {
        margin-top: 1em;
        display: flex;
        justify-content: flex-end;
        gap: 1em;
        button {
            padding: 0.5em 1em;
            font-size: 1em;
        }
    }
}

.add-subform-button {
    width: 80%;
    margin: 1em auto 1em auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.model-list-input {
    border: 1px solid var(--color-border-deemphasized);


    .model-list-item {
        padding: 1em;

        &:not(:nth-last-child(2)){
            border-bottom: 1px solid var(--color-border-deemphasized);
            margin-bottom: 1em;
            padding-bottom: 1em;
        }

        &.model-list-item.invalid {
            border-left: 1px solid var(--color-caution);
        }
    }



    .form-item:not(:first-child){
        margin-top: 1em;
    }
}