footer {
  flex-shrink: 0;
  padding: 2em;

  .footer-body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: var(--width-container);
    margin: 0 auto;

    .footer-links {
      list-style: none;
      padding-inline-start: 0;
    }
  }
}

table {
  th {
    background-color: var(--color-border-deemphasized);
  }
  td {
    border: 1px solid var(--color-border-deemphasized);
    padding: 0.25em 0.5em;
  }
}

.container {
  margin: 0 auto;
  display: block;
}

.page-container {
  width: 90%;
  max-width: 1000px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  /* two-col pages are full-height, otherwise add top-margin to footer */
  &:not(:has(.two-col)) {
    margin-bottom: 4em;
  }
}

.page-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.text-container {
  width: 100%;
  max-width: 100%;
  & h1, h2, p, blockquote {
    max-width: 750px;
  }
}

.two-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  width: 100%;

  & > .column {
    display: flex;
    flex-direction: column;
    &.left {
      flex-grow: 1;
      flex-basis:calc(100% / 3 * 2);
    }
    &.right {
      max-width: var(--breakpoint-mobile);
      flex-basis:calc(100% / 3);
      border-left: 1px solid var(--color-border-deemphasized);
      box-shadow: -.1em 0 0.5em var(--color-twocol-shadow);
      clip-path: inset(0 0 0 -15px);
    }
  }
  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;
    & > .column,
    & > .column.left,
    & > .column.right
    {
      max-width: 100%;
      width: 100%;
      flex-basis: 100%;
    }
    & > .column.right {
      border-left: none;
    }
  }
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align: left;
  }
}

.full-width {
  width: 100%;
}

.flex-container {
  display: flex;
  gap: 1em;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

}

/* --- Datasets layout --- */

.datasets-table, .dataset-collapsible {
  --item-cols: 1em minmax(12em, 2fr) 7fr 1.5em 6.5em;
  display: grid;

  &.review {
    --item-cols: 1em minmax(12em, 2fr) 7fr 1.5em 6.5em 5em 4em;
  }
  .table-head {
      --item-cols: 1.25em minmax(12em, 2fr) 7fr 4em 7.5em;
  }
}

.dataset-parts-table, .dataset-part-collapsible {
  --item-cols: 1em 1fr 6.5em 1em 1em;

  &.review {
    --item-cols: 1em 1fr 6.5em 5em 4em;
  }

  .table-head {
    padding: 0.25em 0.5em;
  }
}

.uploads-table, .upload-collapsible {
  --item-cols: 1em 5em 7fr 5em 3em 3em 4em 1em 1em;
  display: grid;

  &.review {
    --item-cols: 1em 5em 7fr 5em 3em 3em 4em 5em 4em;
  }

  #uploads-table-head {
    .seeders-icon, .downloaders-icon {
      text-align: center;
    }
    --item-cols: 1.25em 5em 7fr 5em 3.5em 3.5em 7.5em;
  }

}

.accounts-table, .account-collapsible {
  --item-cols: 1em 6em 7fr 7em 7em;
  display: grid;

  &.review {
    --item-cols: 1em 6em 7fr 7em 7em;
  }

  &.scopes-form {
    --item-cols: 0.3em 7em 7fr 0.5em;
  }

  .table-head {
    padding: 0.25em 0.5em;
  }
}

.reports-table, .report-collapsible {
  --item-cols: 1em 2em 8em 5em 6.5em 1fr 6.5em;

  .table-head {
      --item-cols: 4em 8em 5em 6.5em 1fr 6.5em;
  }
}

.collapsible-table {
  margin-bottom: 1em;

  &.scopes-form {
    margin-bottom: 0em;

    &.has-entries {
      margin-top: 1em;
    }
  }
}

.table-head,
.collapsible-summary
{
  display: grid;
  grid-template-columns: var(--item-cols);
  grid-column-gap: 0.5em;

  .dataset-slug,
  .dataset-slug a,
  .table-head,
  .account-row,
  .dataset-collapsible > .collapsible-summary,
  .dataset-part-collapsible > .collapsible-summary,
  .upload-collapsible > .collapsible-summary,
  .account-collapsible > .collapsible-summary
  {
    display: grid;
    grid-template-columns: var(--item-cols);
    grid-column-gap: 0.5em;
  }

  .table-head {
    padding: 0.25em 0.5em;
    /*margin-bottom: 0.5em;*/
  }

  & .collapsible-summary > .dataset-slug,
  & .collapsible-summary > .dataset-slug a,
  .upload-hash,
  .instance-hash a,
  .account-username,
  .account-username a,
  & > .upload-title,
  & > .timestamp
  {
    font-family: var(--font-mono);
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  span {
    overflow-wrap: anywhere;
    word-break: break-word;
  }

}

#torrent-table {
  width: 100%;
  overflow: hidden;

  .model-table-value {
    max-height: 50vh;
    overflow-y: scroll;
    display: block;
    word-break: break-word;
  }
}


.topmatter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;

  .header {
    flex-grow: 1;
    flex-basis: 49%;
  }
  .infobox {
    flex-basis: 49%;
  }
}

.infobox {
  .infobox-header {
    font-size: 2em;
    text-align: center;
  }
  .infobox-subhead {
    text-align: center;
  }
  .infobox-table {
    width: 100%;
  }
  .infobox-key {
    font-weight: bold;
  }
  .infobox-value {
    font-family: var(--font-mono);
  }

  td {
    border: 1px solid var(--color-border-deemphasized);
    padding: 0 0.5em;
  }
  .infobox-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.5em;
    & > * {
      flex-grow: 1;
    }
  }
}

.dataset-infobox {
  margin-top: 1em;
  .dataset-threat-label {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-family: var(--font-mono);
    font-size: 0.8em;
  }

  .dataset-threat {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 0 0;
  }
}

.upload-infobox {

}

.actions-box {
    padding: 0.4em;
    row-gap: 0.4em;
}

.audit-log-page {
  width: 80%;
  max-width: 800px;
  margin: auto;

  .audit-log-table {
    width: 100%;
  }

  td, th {
    text-align: right;
  }

  th.col-actor,
  td.actor
  {
    text-align: left;
  }
}

.files-container {
  .file-table,
  .table-head {
    font-size: 0.9em;
  }

  .file-table {
    font-family: var(--font-mono);
    width: 100%;
    max-width: 100%;
    overflow-y: scroll;
    max-height: 50vh;
    display: block;

    thead tr {
      display: table-row;
    }

    th {
      position: sticky;
      top: 0;
      vertical-align: bottom;
      box-shadow: 0px 5px 7px var(--color-background);

      .table-link {
        width: 100%;
      }
    }

    .file-path {
      overflow-wrap: anywhere;
      word-break: break-word;
      width: 100%;
    }
    .file-size {
      text-align: right;
      white-space: nowrap;
    }
  }
}
.tokens-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-bottom: 0.5em;
  flex-wrap: wrap;

  .token-button-container {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 3px;
  }
  .token {
    border: unset;
  }
  button.token-delete-button {
    color: var(--color-primary-shade-3);
    border-radius: 0 3px 3px 0;
    border: unset;
    border-left: 1px solid var(--color-primary-shade-3);
    box-shadow: unset;

    &:hover {
      background-color: var(--color-primary-shade-3);
      color: var(--color-background);
    }
  }
}

.tag-group {
  margin: 0.5em 0;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.model-table {
  text-align: left;
}

.tags-table {
  table {
    width: 100%;
  }

  td.col-metadata {
    font-family: var(--font-mono);
  }

  td.col-metadata, th.col-feed, td.col-feed {
    text-align: center;
    width: 1%;
    text-wrap: nowrap;
  }

}

.container {
  &.bordered {
    padding: 0.5em;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    box-shadow: inset 0 0 1.5em var(--color-background-deemphasized);
  }
  &.scrollable {
    max-height: 50vh;
    overflow-y: scroll;
  }
}


.trackers-table {
  width: 100%;

  span.seeders, span.downloaders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .announce-url {
    font-family: var(--font-mono);
    font-size: 0.9em;
  }
  td.scraped-at {
    text-align: center;
  }
  td.scraped-at time {
    font-family: var(--font-mono);
  }
  .never {
    font-style: italic;
    font-size: 0.7em;
  }
}

.download-container {
  --height: 1.75em;

  display: flex;
  flex-direction: row;
  font-size: var(--height);
  max-height: var(--height);
  gap: 0.25em;
  padding: 0.1em 0.15em 0.1em 0.1em;
  margin-bottom: 0.25em;

  img {
    object-fit: contain;
    max-height: 100%
  }
  a {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    box-sizing: border-box;
    padding: 0.2em;
    &:hover {
      span {
        color: var(--color-primary-contrast)
      }
    }
  }
  span {
    display: inline-block;
    margin: auto;
    color: var(--color-link);
  }
  .button {
    margin: 0;
  }

  .download-link {
    flex-grow: 1;
  }
  .magnet-link {
    min-width: var(--height);
  }
}

img.download-icon,
img.magnet-icon
{
  transition: filter 0.15s ease-out;
}

a:hover > img.download-icon,
a:hover > img.magnet-icon{
  filter: saturate(0%) brightness(200%);
}



a:hover {
  &:has(img.download-icon),
  &:has(img.magnet-icon)
  {
    cursor: pointer;
    transition: background-color 0.15s ease-out;
  }
  &:has(img.download-icon) {
    cursor: pointer;
    background-color: var(--color-primary);
  }

  &:has(img.magnet-icon) {
    cursor: pointer;
    background-color: var(--color-neutral);
  }
}

body.light-theme {
  a:hover > img.download-icon,
  a:hover > img.magnet-icon
  {
    filter: saturate(0%) brightness(0%);
  }
}

.site-index {
  blockquote {
    max-width: var(--width-container);
  }

  .hero {
    margin: 0 auto 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-sciop {
    width: 100%;
    background-image: url("/static/img/src-buildings-stretch.svg");
    background-repeat: repeat-x;
    background-size: auto 8em;
    background-position-y: 100%;
    background-color: var(--color-src-background);
    overflow: hidden;
    @media screen and (max-width: 1200px) {
      padding-left: 1em;
      padding-right: 1em;
    }

    .content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      max-width: var(--width-container);
      gap: 1.5em;
      margin: auto;
      min-height: 400px;

      .src-link {
        color: var(--color-src);
        font-weight: bold;
      }

      .text {
        margin-top: 1em;
        flex-grow: 1;
        align-self: start;
        background-color: var(--color-src-buildings);
        box-shadow: 3px 3px 3px var(--color-dark-background);
        text-shadow: 0 0 2px var(--color-background);
        padding: 0 1em;
        border: 1px solid var(--color-border-deemphasized);
        border-radius: 5px;
        flex-basis: 60%;
      }

      .spotlight {
        object-fit: contain;
        max-width: 200px;
        min-width: 150px;
        width: 20%;
        flex-basis: 25%;
        align-self: end;
        position: relative;
        display: flex;
        align-items: flex-end;

        @media screen and (max-width: 535px) {
          min-height: 280px;
        }

        .cls-1,.cls-2{fill:#fbd259;}
        .cls-1{fill-opacity:0.4;}
        .cls-3{fill:#222426;fill-rule:evenodd;}

        svg {
          position: absolute;
          bottom: 0;
          left: 0;
          overflow: visible;
        }
      }
    }
  }
}

#new-here {
  position: relative;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;

  --pattern:
    repeating-radial-gradient(circle at center,
      var(--color-good), var(--color-good) 1px,
      transparent 1px, transparent 6em
    );
  transition: background-size 1s ease-out;
  background: var(--pattern);
  background-position: center;
  background-size: 0%;
  background-blend-mode: multiply;

  @media (prefers-reduced-motion: no-preference) {
    &:hover {
      background-size: 100%;
      transition: background-size 2s ease-in-out;
    }
  }

  a {
    color: var(--color-good);
    text-decoration: underline;
    font-weight: 700;
  }

  .text-container {
    background: var(--color-background);
    aspect-ratio: 1;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;

    span {
      font-family: var(--font-mono);
    }
  }
}
