.container {
  margin: 0 auto;
  display: block;
}

.page-container {
  width: 90%;
}

.page-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1em;
  align-items: center;
}

.text-container {
  max-width: 750px;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
  gap: 1em;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

}

/* --- Datasets layout --- */

.datasets-table {
  --datasets-cols: 1em minmax(14em, 2fr) 7fr 9em;
  display: grid;

  .table-head,
  .dataset-collapsible > .collapsible-summary
  {
    display: grid;
    grid-template-columns: var(--datasets-cols);
      grid-column-gap: 1em;
  }

  .dataset-slug,
  .dataset-slug a,
  .dataset-timestamp {
    font-family: var(--font-mono);
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.dataset {
  .dataset-topmatter {
    display: flex;
    flex-direction: row;
  }
  .dataset-header {
    flex-basis: 60%;
  }
  .dataset-infobox {
    flex-basis: 40%;
  }
}

.dataset-infobox {
  .dataset-priority {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0 0 0;

    &.priority-low {
      background-color: var(--color-priority-low);
    }
  }

  .infobox-table {
    width: 100%;
  }
  .infobox-key {
    font-weight: bold;
  }
  .infobox-value {
    font-family: var(--font-mono);
  }
  td {
    border: 1px solid var(--color-border-deemphasized);
    padding: 0 0.5em;
  }
}