/*
 * Adding some adjustments to accomodate smaller screens in
 * its own file instead of attaching the responsive fixes directly to
 * the respective elements' rules.
 */

@media only screen and (max-width: 768px) {
  nav.navbar .cta-wrapper {
		width: 100%;

		& > *:first-child {
			margin-left: auto;
		}
  }

  .page-container {
    width: 100%;
		padding: 0 0.5em;
		box-sizing: border-box;
  }

  .datasets-table,
  .uploads-table,
  .accounts-table {

    .table-head,
    .dataset-collapsible > .collapsible-summary,
    .upload-collapsible > .collapsible-summary,
    .account-collapsible > .collapsible-summary {
			display: flex;
			flex-wrap: wrap;
			grid-column-gap: 0.5em;

			& > span {
				line-height: 28px;
				align-self: baseline;
			}

			& *:last-child:not(.success-button) {
			 margin-left: auto;
			}
			& button:first-of-type {
				margin-left: auto;
			}
	  }

		& .collapsible-marker {
			width: 1em;
		}
		& .dataset-slug {
			width: calc(100% - 2em);
		}
  }

	.collapsible-table {
		display: flex;
		flex-direction: column;
	}

  .topmatter {
		.header, .infobox {
			flex-basis: 100%;
		}
  }

	.pagination-container {
		display: flex;
		flex-wrap: wrap;

		.pagination-links {
			width: 100%;
			justify-content: space-evenly;
			gap: 0;
		}
		.pagination-total {
			margin: auto;
		}
	}

	nav.tabs {

		a.tab-link {
			padding-left: unset;
			padding-right: unset;
		}
	}
}
