.redacted {
    color: var(--color-primary-contrast);
    position: relative;

    &>* {
        color: var(--color-primary-contrast);
    }

    &:before {
        background: var(--color-primary);
        border-radius: 0.2em 0.1em;
        box-shadow: 0 0 2px rgba(255,255,255,0.25);
        content: " ";
        width: 150%;
        height: 0.8em;
        left: -25%;
        bottom: 0.1em;
        position: absolute;
        transform: skewY(-10deg) rotate(8deg);
        z-index: -1;
    }
}

.site-index {
    text-align: center;

    .site-title {
        display: inline-block;
        font-size: 5em;
    }

    .site-subtitle {
        font-style: italic;
        font-weight: normal;
        font-size: 2em;
    }
}

.token {
    background-color: var(--color-background-shade);
    border: 1px solid var(--color-primary-shade-3);
    border-radius: 3px;
    color: var(--color-link);
    font-family: var(--font-mono);
    font-size: 85%;
    padding: 0.15em 0.25em;
    text-wrap: nowrap;
}

.timestamp {
    font-family: var(--font-mono);
    font-size: 0.8em;
}

.font-mono {
    font-family: var(--font-mono);
}

.aside {
    color: var(--color-text-deemphasized);
    font-style: italic;
    font-size: 0.8em;
    margin: 2em 0;
}

.bold {
    font-weight: bold;
}

.wrap {
    overflow-wrap: anywhere;
}

.number {
    text-align: right;
}

.threat-indefinite {
  background-color: var(--color-threat-indefinite);
}
.threat-watchlist {
  background-color: var(--color-threat-watchlist);
}
.threat-endangered {
  background-color: var(--color-threat-endangered);
}
.threat-takedown_issued {
  background-color: var(--color-threat-takedown_issued);
}
.threat-extinct {
    background-color: var(--color-text);
    color: var(--color-background);
}

.threat-dot {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    &::before {
        content: "";
        height: 1em;
        width: 1em;
        border-radius: 1em;
        display: block;
    }


    &.threat-indefinite {
        background-color: transparent;
        border: 1px solid var(--color-threat-indefinite);
    }
    &.threat-watchlist {
        background-color: transparent;
        border: 1px solid var(--color-threat-watchlist);
        &::before {
            box-shadow: inset .2em 0 0 0 var(--color-threat-watchlist)
        }
    }

    &.threat-endangered {
        background-color: var(--color-threat-endangered);
        border: 1px solid var(--color-threat-endangered);
        &::before {
            box-shadow: inset -0.3em 0 0 0 var(--color-background);
        }
    }

    &.threat-takedown_issued {
       border: 1px solid var(--color-threat-takedown_issued);
    }

    &.threat-extinct {
        border: 1px solid var(--color-text);
        background: repeating-linear-gradient(
          -45deg,
          var(--color-background),
          var(--color-background) 2px,
          var(--color-text) 2px,
          var(--color-text) 3px
        );
    }
}

p.unapproved {
    font-family: var(--font-mono);
    font-size: 1.2em;
    color: var(--color-alert);
    font-weight: bold;
    padding: 1em 0.5em;
    background: repeating-linear-gradient(
        -45deg,
        var(--color-background),
        var(--color-background) 5px,
        var(--color-disabled) 5px,
        var(--color-disabled) 7px
    );
}

blockquote {
    background-color: var(--color-background-deemphasized);
    text-align: left;
    font-style: italic;
    padding: 1em 2em;
    position: relative;

    p.attribution {
        text-align: right;
    }

    &::before {
        content: "";
        width: 5px;
        height: 100%;
        background-color: var(--color-border);
        left: 0;
        top: 0;
        position: absolute;
    }
}



.seeders-icon {
    color: var(--color-good);
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 0.2em;
    font-family: var(--font-sans);
}

.downloaders-icon {
    color: var(--color-caution);
    transform: rotate(180deg);
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 0.2em;
    font-family: var(--font-sans);
}

.deemphasized {
    color: var(--color-deemphasized);
}

.upload-seeders, .upload-downloaders {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Lifted from 98.css */


div.status-strip {
    width: 100%;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    h2 {
        font-size: 2em;
    }

    background: repeating-linear-gradient(
        -45deg,
        var(--color-background),
        var(--color-background) 15px,
        var(--color-neutral-darker-1) 15px,
        var(--color-neutral-darker-1) 30px );
}

div.status-strip {
  --dialog-blue: #000080;
  --dialog-blue-light: #1084d0;
  --dialog-gray: #808080;
  --dialog-gray-light: #b5b5b5;
  --element-spacing: 8px;
  --window-frame: #0a0a0a;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --button-highlight: #ffffff;
  --border-window-outer: inset -1px -1px var(--window-frame),
  inset 1px 1px var(--button-face);
  --border-window-inner: inset -2px -2px var(--button-shadow),
  inset 2px 2px var(--button-highlight);
  --surface: #c0c0c0;
  --border-raised-outer: inset -1px -1px var(--window-frame),
  inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow),
  inset 2px 2px var(--button-face);
  --border-sunken-outer: inset -1px -1px var(--button-highlight),
  inset 1px 1px var(--window-frame);
  --border-sunken-inner: inset -2px -2px var(--button-face),
  inset 2px 2px var(--button-shadow);


  button,
  label,
  input,
  textarea,
  select,
  option,
  ul.tree-view,
  .window,
  .title-bar {
    font-family: "Pixelated MS Sans Serif", Arial;
    -webkit-font-smoothing: none;
    font-size: 1em;
  }

  .title-bar {
    background: linear-gradient(
        90deg,
        var(--dialog-blue),
        var(--dialog-blue-light)
    );
    padding: 3px 2px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title-bar.inactive {
    background: linear-gradient(
        90deg,
        var(--dialog-gray),
        var(--dialog-gray-light)
    );
  }

  .title-bar-text {
    font-weight: bold;
    color: white;
    letter-spacing: 0;
    margin: 0;
    font-size: 1.5em;
  }

  .title-bar-controls {
    display: flex;
    margin: unset;
  }

  .title-bar-controls button {
    padding: 0;
    display: block;
    min-width: 16px;
    min-height: 14px;
  }

  .title-bar-controls button:active {
    padding: 0;
  }

  .title-bar-controls button:focus {
    outline: none;
  }

  .title-bar-controls button[aria-label="Close"] {
    margin-left: 2px;
    background-image: url("/static/img/close.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    height: 1.5em;
    width: 1.5em;
  }

  .window-body {
    margin: var(--element-spacing);
    color: #222;
  }

  .window {
    box-shadow: var(--border-window-outer), var(--border-window-inner);
    background: var(--surface);
    padding: 3px;
    min-width: 300px;
    margin: auto;
    border: 1em solid var(--color-background);
  }

  button,
  input[type="submit"],
  input[type="reset"] {
    box-sizing: border-box;
    border: none;
    background: var(--surface);
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    border-radius: 0;
    min-width: 5em;
    min-height: 1.75em;
    padding: 0 12px;
    background: silver;
    color: transparent;
    text-shadow: 0 0 #222;
    &:hover {
      background-color: var(--surface);
      color: unset;
    }
  }
  a:hover {
    color: unset;
  }

  button:not(:disabled):active,
  input[type="submit"]:not(:disabled):active,
  input[type="reset"]:not(:disabled):active {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    padding: 2px 11px 0 13px;
  }

  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus {
    outline: 1px dotted #000000;
    outline-offset: -4px;
  }

  button::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner {
    border: 0;
  }

  .status-bar {
    margin: 0 1px;
    display: flex;
    gap: 1px;
  }

  .status-bar-field {
    box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px #808080;
    flex-grow: 1;
    padding: 2px 3px;
    margin: 0;
    color: #222;
  }
  .field-row {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 1em;
    gap: 0.5em;
    & * {
      margin: unset;
    }
  }
  .status-text{
    font-size: 3em;
    margin: 0.25em 0 0.25em 0;
  }

  @media screen and (max-width: 768px){
    .title-bar-text {
      font-size: 1rem;
    }
  }
}


.site-stats-container {
  width: 100%;
  background-color: var(--color-background-shade);
  margin: 2em 0;
}

.site-stats {
  --color-bg: lch(from var(--color-accent) calc(l - 30) calc(c - 90) h);

  max-width: var(--width-container);
  font-size: 1.5em;
  text-align: left;
  margin: 1em auto;
  padding: 0.5em 0;
  position: relative;

  span {
    font-weight: bold;
  }

  .info-tab {
    position: absolute;
    top: 0;
    right: 1em;
    font-size: 0.8rem;

    span {
      font-family: var(--font-mono);
      font-weight: normal;
      font-style: italic;
      color: var(--color-text-deemphasized);
    }
  }

  .value {
    font-family: var(--font-mono);
    font-weight: normal;
  }

  .value-phrase {
    position: relative;
    color: var(--color-accent);
    z-index: 1;
    text-shadow: 2px 2px var(--color-background), 2px 2px var(--color-background);

    &:before {
      content: " ";
      width: 100%;
      height: 0.4em;
      left: 0;
      bottom: 0;
      position: absolute;
      background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 5px,
        var(--color-bg) 5px,
        var(--color-bg) 7px
    );
      z-index: -1;
    }
  }

  & > p {
    margin: 0.5em 0;
  }

  & > p:nth-child(1) {
    font-size: 1.5em;
    .value-phrase {
      --color-accent: var(--color-good);
      --color-bg: lch(from var(--color-accent) calc(l - 5) calc(c - 50) h / 0.35);
    }
  }

  & > p:nth-child(2) {
    .value-phrase{
      --color-accent: var(--color-link);
      --color-bg: lch(from var(--color-accent) calc(l - 5) calc(c - 50) h / 0.35);
    }
  }
  & > p:nth-child(3){
    font-size: 1.75em;
    .value-phrase{
      --color-accent: var(--color-caution);
      --color-bg: lch(from var(--color-accent) calc(l - 5) calc(c - 50) h / 0.35);
    }
  }

  #site-stats-info {
    max-width: unset;
    .modal-header {
      font-size: 1em;
    }
    p, li {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 768px) {
 .site-stats-container {
   padding: 0 1em;
   .site-stats {
     padding: 1em 1em;
   }
 }
}