/* Root vars that are needed in both themes */
:root {
  /* Base colors */
  --color-dark-background: rgba(23, 23, 26, 1);
  --color-light-background: lch(99.25% 3.6 199.47);
  --color-good: lch(76.36% 99.79 133.94);
  --color-neutral: lch(56.05% 49.39 256.63);
  --color-evil: red;
  --color-warning: #FF6319;
  --color-alert: #FCCC0A;

  /* Context-specific colors */
  --color-threat-unknown: var(--color-background-shade);
  --color-threat-indefinite: var(--color-neutral);
  --color-threat-watchlist: var(--color-alert);
  --color-threat-endangered: var(--color-warning);
  --color-threat-takedown_issued: lch(47.26% 75.67 14.74);
  --color-threat-extinct: var(--color-background-shade);
  --color-caution: var(--color-evil);
  --color-caution-darker-1: color-mix(in lch, var(--color-caution) 80%, var(--color-dark-background));
  --color-neutral-darker-1: color-mix(in lch, var(--color-neutral) 80%, var(--color-dark-background));
  --color-warning-darker-1: #BB4811; /* mixing the color makes it too red */
  --color-src: #fbd259;
  --color-src-background: #4a4e53;
  --color-src-buildings: #222426;

  --font-sans: "Work Sans", "Helvetica Neue", "Segoe UI", "Helvetica", "Roboto", sans-serif;
  --font-mono: "Anonymous Pro", "Fira Code", "Courier New", "Courier", monospace;

  --width-container: 750px;
  --breakpoint-mobile: 535px;
  --breakpoint-tablet: 768px;
  --breakpoint-half: 1200px;

  --disabled-bg: repeating-linear-gradient(
        -45deg,
        var(--color-background),
        var(--color-background) 5px,
        var(--color-disabled) 5px,
        var(--color-disabled) 7px
    );
  --surface-border-radius: 1em;
  --surface-padding: 1em;
  --scrollbar-padding: 1em;
}
/* Put all themed vars in body so that we can switch vars on dark mode */
body {

  --color-primary: lch(44% 132 317);
  --color-text: #eee;
  --color-text-deemphasized: color-mix(in srgb, var(--color-text) 85%, var(--color-background));
  --color-background: var(--color-dark-background);
  --color-background-shade: color-mix(in lch, var(--color-background) 90%, var(--color-light-background));
  --color-background-deemphasized: color-mix(in lch, var(--color-background) 60%, black);
  --color-link: lch(72% 90 309);
  --color-primary-contrast: #eee;
  --color-primary-shade-1: color-mix(in lch, var(--color-primary) 75%, white);
  --color-primary-shade-2: color-mix(in lch, var(--color-primary) 65%, white);
  --color-primary-shade-3: color-mix(in lch, var(--color-primary) 50%, white);
  --color-primary-darker-1: color-mix(in lch, var(--color-primary) 80%, var(--color-dark-background));
  --color-border: #666;
  --color-border-deemphasized: #333;
  --color-border-emphasized: color-mix(in lch, var(--color-border) 70%, var(--color-text));
  --color-deemphasized: #888;
  --color-disabled: #404040;
  --color-caution-contrast: var(--color-primary-contrast);
  --color-warning-contrast: #000;
  --color-alert-contrast: var(--color-dark-background);
  --color-twocol-shadow: var(--color-dark-background);


  &.light-theme {
    --color-primary: lch(75.67% 48.81 313.27);
    --color-text: #000;
    --color-text-deemphasized: color-mix(in srgb, var(--color-text) 65%, var(--color-background));
    --color-background: var(--color-light-background);
    --color-background-shade: color-mix(in lch, var(--color-background) 95%, var(--color-dark-background));
    --color-background-deemphasized: color-mix(in lch, var(--color-background) 96%, var(--color-dark-background));
    --color-border-deemphasized: #aaa;
    --color-disabled: #ededed;
    --color-link: lch(55.05% 102.93 317.74);
    --color-primary-contrast: #000;
    --color-primary-shade-1: lch(44% 132 317);
    --color-caution-contrast: var(--color-primary-contrast);
    --color-good: lch(69.29% 92.19 133.94);
    --color-src: #e79d01;
    --color-src-background: #4a4e53;
    --color-src-buildings: var(--color-background-shade);
    --color-twocol-shadow: transparent;
  }
}
