{% extends "layouts/default.html" %}
<div class="center-column">
    <h1>About SciOp</h1>
    <p>
        SciOp is made by a group of researchers, archivists, and hackers — all united in being information activists.
    </p>
    <p>
        SciOp is the curated catalog/index of <a href="https://safeguar.de">Safeguarding Research & Culture (SRC)</a>, 
        an alternative infrastructure for archiving and disseminating of cultural heritage and scientific knowledge.<br>
        We seek to preserve cultural memory in a way that traditional archives cannot:
        <blockquote class="title-quote">
            Together, we can ensure that our cultural, intellectual and scientific heritage exists in multiple copies, in multiple places, and that no single entity or group of entities can make it all disappear.<br>
            Because people (and our diversity) matter.
            <p class="attribution">
                — Learn more about <a href="https://safeguar.de/our-mission/">Our Mission</a>
            </p>
        </blockquote>
    </p>
    <p class="big-emphasis">
        To safeguard people's ability to make use of bulk information in hostile conditions, 
        we are evolving BitTorrent into a federated peer-to-peer (P2P) system.<br>
        Learn more about that in <a href="https://sciop.net/docs/intro/overview">our documentation</a>
    </p>
</div>
