{% extends "layouts/default.html" %}
{% from 'macros/dataset.html' import dataset_collapsible %}
{% from 'macros/stats.html' import site_stats %}
{% from 'macros/counter.html' import counter %}
{% block container_class %}text-container{% endblock %}
{% block content %}
<div class="site-index">
    <div class="center-column">
        <h1 class="site-title redacted">SciOp</h1>
        <p class="version-tag">
            Version: <a
                class="token version"
                href="https://codeberg.org/Safeguarding/sciop/commit/{{ short_hash }}">
            {{ version }}
            </a>
        </p>

        <blockquote class="title-quote">
            “We must become undisciplined. The work we do now requires new modes and methods of research and teaching; new ways of entering and leaving the archives.”
            <p class="attribution">
            — Christina Sharpe, <a href="https://dhdebates.gc.cuny.edu/read/the-digital-black-atlantic/section/b5c2c6f7-c1a2-4645-8cf7-9d5cc70aa019#ch02">In the Wake</a>
            </p>
        </blockquote>

        <div class="admonition surface" id="new-here">
            <div class="corner top-left"></div>
            <div class="text-container">
            <h2>New here?</h2>
            <span>Check the <a href="/docs/quickstart/">quickstart guide</a></span>
            </div>
            <div class="corner bottom-right"></div>
        </div>

        <div id="about-sciop">
            <div class="content">
                <div class="text">
                    <p>
                        <strong>SciOp</strong> is part of <a class="src-link" href="https://forum.safeguar.de/about"><em>Safeguarding Research & Culture (SRC)</em></a>.
                    </p>
                    <p>
                        As a <strong>website and a group of people,</strong>
                        SciOp is dedicated to ensuring that our cultural, intellectual and scientific heritage exists in multiple copies, in multiple places, and that no single entity or group of entities can make it all disappear.
                    </p>
                    <p>
                        As <strong>software,</strong>
                        SciOp is dreaming expansively about what a bittorrent tracker can be,
                        bringing federation to torrent trackers, implementing mobile identity on the fediverse,
                        and extending the bittorrent protocol to meet the needs of evolving, multi-origin data.
                    </p>
                </div>
                <div class="spotlight">
                    {% include "includes/src-logo-spotlight-long.svg" %}
                </div>
            </div>
        </div>

        {% if stats %}
        <div class="site-stats-container">
        {{ site_stats(stats) }}
        </div>
        {% endif %}

        <div class="status-strip">
            <div class="window">
                <div class="title-bar">
                    <h2 class="title-bar-text">2025-03-25 Project Status</h2>
                    <div class="title-bar-controls">
                        <button class="index-cancel-button" aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body">
                    <p class="status-text">Open Beta</p>
                    <p>Sign up, upload, and maybe even download. <br>Help us buff out the rough parts and get the archive ready for mass use.</p>
                    <section class="field-row">
                        <a href="/login"><button>OK</button></a>
                      <button class="index-cancel-button">Cancel</button>
                    </section>
                </div>
                <div class="status-bar">
                    <p class="status-bar-field">Swarm: Assembling</p>
                    <p class="status-bar-field">Odds of Bits Torrented: 100%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        <a rel="nofollow" href="/scrapers">scrapers</a>
    </div>
    {% if hit_count %}
    {{ counter(hit_count) }}
    {% endif %}
</div>


{% endblock content %}
