{% extends "layouts/twocol.html" %}
{% from 'macros/dataset.html' import dataset_collapsible %}
{% from 'macros/stats.html' import site_stats %}
{% from 'macros/counter.html' import counter %}
{% from 'macros/quote.html' import instance_quote %}
{% from 'macros/whats-new.html' import whatsnew_window %}
{% block container_class %}text-container{% endblock %}
{% block left %}
<div class="site-index">
    <div class="center-column">
        <div class="hero">
        <h1 class="site-title redacted">SciOp</h1>
        <p class="version-tag">
            Version: <a
                class="token version"
                href="https://codeberg.org/Safeguarding/sciop/commit/{{ short_hash }}">
            {{ version }}
            </a>
        </p>

        {{ instance_quote(quote) }}
        </div>

        <div id="about-sciop">
            <div class="content">
                <div class="text">
                    <p>
                        <strong>SciOp</strong> is part of <a class="src-link" href="https://forum.safeguar.de/about"><em>Safeguarding Research & Culture (SRC)</em></a>.
                    </p>
                    <p>
                        As a <strong>website and a group of people,</strong>
                        SciOp is dedicated to ensuring that our cultural, intellectual and scientific heritage exists in multiple copies, in multiple places, and that no single entity or group of entities can make it all disappear.
                    </p>
                    <p>
                        As <strong>software,</strong>
                        SciOp is dreaming expansively about what a bittorrent tracker can be,
                        bringing federation to torrent trackers, implementing mobile identity on the fediverse,
                        and extending the bittorrent protocol to meet the needs of evolving, multi-origin data.
                    </p>
                </div>
                <div class="spotlight">
                    <img src="/static/img/src-logo-spotlight-long.svg" alt="Illustration of a spotlight shining from a cityscape onto a file icon in a dark night sky." />
                </div>
            </div>
        </div>

        {% if stats %}
        <div class="site-stats-container">
        {{ site_stats(stats) }}
        </div>
        {% endif %}

    </div>
    <div class="hidden">
        <a rel="nofollow" href="/crawlers">crawlers</a>
    </div>
</div>
{% endblock %}
{% block right %}
{% if config.services.update_feeds.enabled %}
{{ whatsnew_window() }}
{% endif %}
<div id="new-here">
    <div class="text-container">
    <h2>New here?</h2>
    <span>Check the <a href="/docs/quickstart/">quickstart guide</a></span>
    </div>
</div>
{% if hit_count is number %}
{{ counter(hit_count) }}
{% endif %}
{% endblock %}
