{% extends "layouts/default.html" %}
{% block content %}
<div class="login-form-container">
<form hx-post="{{ config.api_prefix }}/login" class="form login-form enter-trigger" id="login-form"
      hx-trigger="enterKeyUp">
    <div class="form-item">
        <label for="username" class="form-label">Username</label>
        <div class="form-input-group">
            <input id="username" name="username" type="text">
            <div class="constraint-gutter">
                <span class="error-feedback"></span>
            </div>
        </div>
    </div>
    <div class="form-item">
        <label for="password" class="form-label">Password</label>
        <div class="form-input-group">
            <input id="password" name="password" type="password">
            <div class="constraint-gutter">
                <span class="error-feedback"></span>
            </div>
        </div>
    </div>
</form>
<div class="form-row login-buttons">
    <button
        class="form-button"
        type="submit"
        name="account"
        hx-post="{{ config.api_prefix }}/register"
        hx-include="#login-form"
        hx-target="#login-form"
    >Register</button>
    <button
        class="form-button"
        type="submit"
        name="account"
        hx-post="{{ config.api_prefix }}/login"
        hx-include="#login-form"
        hx-target="#login-form"
    >Login</button>
</div>
</div>
{% endblock %}