{% extends "layouts/default.html" %}
{% block content %}
<form hx-post="{{ config.api_prefix }}/login" class="form login-form" id="login-form" hx-trigger="keyup[keyCode==13]">
    <div class="form-row">
        <label for="username" class="form-label">Username</label>
        <input id="username" name="username" type="text">
    </div>
    <div class="form-row">
        <label for="password" class="form-label">Password</label>
        <input id="password" name="password" type="password">
    </div>
</form>
<div class="form-row">
    <button
        class="form-button"
        type="submit"
        name="account"
        hx-post="{{ config.api_prefix }}/register"
        hx-include="#login-form"
    >Register</button>
    <button
        class="form-button"
        type="submit"
        name="account"
        hx-post="{{ config.api_prefix }}/login"
        hx-include="#login-form"
    >Login</button>
</div>
{% endblock %}