{% extends "layouts/default.html" %}
{% block content %}
{% include "includes/self-tabs.html" %}
<h2>Review</h2>
<h3>Datasets</h3>

<div id="dataset-review-container" class="review-container">
    <div
        hx-get="/self/review/datasets"
        hx-trigger="load"
        hx-swap="outerHTML"
    >
        <span class="htmx-indicator search-indicator" id="review-datasets-indicator">
            <span>Loading datasets...</span>
            <img src="/static/img/rings.svg"/>
        </span>
    </div>
</div>

<h3>uploads</h3>

<div id="upload-review-container"  class="review-container">
    <div
        hx-get="/self/review/uploads"
        hx-trigger="load"
    >
        <span class="htmx-indicator search-indicator" id="review-uploads-indicator">
            <span>Loading uploads...</span>
            <img src="/static/img/rings.svg"/>
        </span>
    </div>
</div>
{% endblock %}